{% extends "_layouts/default.html" %}

{% block title %}TVP VOD{% endblock %}

{% block extra_js %}
  <script src="static/tvp-vod.js" defer></script>
{% endblock %}

{% block body %}
    <section class="hero is-info is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            TVP VOD
          </p>
          <p class="subtitle">
            Jeśli chcesz oglądać filmy z serwisu vod.tvp.pl z adblokiem wklej link do wideo poniżej.
          </p>
          <div class="field has-addons has-addons-centered">
            <p class="control">
              <input id="link-input" class="input" type="text" placeholder="Wklej link">
            </p>
            <p class="control">
              <a id="watch-button" class="button">
                Oglądaj
              </a>
            </p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
