:root {
    --primary: #1976D2;
    --white: #F5F5F5;
}

/*html {*/
    /*color: #555;*/
    /*background-color: #fcfcfc;*/
/*}*/

.has-bg-primary {
    background-color: var(--primary);
}

.has-text-light {
    color: var(--white);
}
