{% extends "_layouts/post.html" %}


{% block content %}
  {{ title(
      title='GitFlow',
      author='Natalia',
      date='2017-10-12'
     )
  }}

  <p>GitFlow is branching strategy created by Vincent Driessen. It helps with collaboration and parallel development. In this post I would like to focus on practical aspects.</p>

  {{ image('static/git-branching-model.jpg') }}

  {{ subtitle('Branches') }}

  <p>There are two main branches {{ code('master') }} and {{ code('develop') }}. {{ code('develop') }} branch is where you can find all finished features that we are going to release with next release. {{ code('master') }} branch stores released version of project. It should be always synced with production.</p>

  <p>There are also supporting branches: {{ code('feature') }}, {{ code('hotfix') }} and {{ code('release') }}.</p>

  <p>You should create {{ code('feature') }} branch for every new feature. This branch is branched off of {{ code('develop') }} and after finishing feature it should be merged back to {{ code('develop') }}.</p>

  <p>When you finish all features for next release, you should create {{ code('release') }} branch. This branch is also branched off of {{ code('develop') }} branch. After finishing release preparations, you should merge {{ code('release') }} branch to {{ code('master') }} and to {{ code('develop') }} branch as well.</p>

  <p>There is also {{ code('hotfix') }} branch that are used to emergency fixes. {{ code('Hotfix') }} branches are created from {{ code('master') }}branch. After finishing it should be merged to {{ code('master') }} and {{ code('develop') }}.</p>

  <p>As you can see the only commits on {{ code('master') }} branch are merges from {{ code('release') }} and {{ code('hotfix') }} branches. The only commits on {{ code('develop') }} branch are merges from {{ code('feature') }}, {{ code('release') }} and {{ code('hotfix') }} branches.</p>

  {{ subtitle('Tool') }}
  <p>I am using commad line tool that helps with git flow. <a href="https://github.com/nvie/gitflow/wiki/Installation">Here</a> you can find installation instruction. It is a wrapper around git commands that will help you automate working with gitflow.</p>

  {{ subtitle('Starting repository') }}
  <p>You can start your empty repository with {{ code('git flow init') }} command. This command initialises empty Git repository ({{ code('git init') }}) and creates branches {{ code('master') }} and {{ code('develop') }}. It will also ask you about prefixes for supporting branches. Finally it will checkout {{ code('develop') }} branch.</p>

{% set text %}16:27 &gt; git flow init
Initialized empty Git repository in /Users/n/important-project/.git/
No branches exist yet. Base branches must be created now.
Branch name for production releases: [master]
Branch name for "next release" development: [develop]

How to name your supporting branch prefixes?
Feature branches? [feature/]
Release branches? [release/]
Hotfix branches? [hotfix/]
Support branches? [support/]
Version tag prefix? []{% endset %}
  {{ code_block(lang='Bash', code=text) }}

  {{ subtitle('Starting new feature') }}
  <p>As I mentioned before every feature has it  own {{ code('feature') }} branch. To create new feature use command {{ code('git flow feature start awesomeFeature') }}. This command will create you branch {{ code('feature/awesomeFeature') }} out of {{ code('develop') }} and checkout this branch. Now you can write your code and commit with standard git commands.</p>

{% set text %}
  <p> Even if you are on {{ code('feature/notSoAwesomeFeature') }} branch (or any other branch) and you run this command it will create {{ code('feature/awesomeFeature') }} out of {{ code('develop') }}. Changes made on {{ code('feature/notSoAwesomeFeature') }} not merged to {{ code('develop') }} would not be present on {{ code('feature/awesomeFeature') }} branch.</p>
{% endset %}
{{ note(text) }}


{% set text %}Switched to a new branch 'feature/awesomeFeature'

Summary of actions:
- A new branch 'feature/awesomeFeature' was created, based on 'develop'
- You are now on branch 'feature/awesomeFeature'

Now, start committing on your feature. When done, use:

     git flow feature finish awesomeFeature{% endset %}
  {{ code_block(lang='Bash', code=text) }}

  {{ subtitle('Finishing feature') }}
  <p>When you are done with your awesome feature just use {{ code('git flow feature finish awesomeFeature') }} as git flow told you. This command will merge your branch to {{ code('develop') }}
    branch. It will also checkout {{ code('develop') }} branch and remove your {{ code('feature/awesomeFeature') }} branch. </p>

{% set text %}16:43 > git flow feature finish awesomeFeature
Switched to branch 'develop'
Updating d83b277..0c428a2
Fast-forward
 awesomeFile | 0
 1 file changed, 0 insertions(+), 0 deletions(-)
 create mode 100644 awesomeFile
Deleted branch feature/awesomeFeature (was 0c428a2).

Summary of actions:
- The feature branch 'feature/awesomeFeature' was merged into 'develop'
- Feature branch 'feature/awesomeFeature' has been removed
- You are now on branch 'develop'{% endset %}
  {{ code_block(lang='Bash', code=text) }}

  {{ subtitle('Creating a release') }}
  <p>Wow! All features are finished and tested? It is time to release your app. To create release branch use command {{ code('git flow release start 1.0') }}. This command creates new branch {{
    code('release/1.0') }} out of {{ code('develop') }} branch and checks out this branch. Now you can prepare your very important app to release: change code version, add needed fixes. But git flow will again tell you all of that:</p>

{% set text %}
<p>Even if you are on {{ code('feature/notSoAwesomeFeature') }} branch and you run this command it will create {{ code('release/1.0') }} out of {{ code('develop') }}. Changes made on {{
  code('feature/notSoAwesomeFeature') }} not merged to {{ code('develop') }} would not be present on {{ code('release/1.0') }} branch.</p>
{% endset %}
{{ note(text) }}

{% set text %}20:28 > git flow release start 1.0
Switched to a new branch 'release/1.0'

Summary of actions:
- A new branch 'release/1.0' was created, based on 'develop'
- You are now on branch 'release/1.0'

Follow-up actions:
- Bump the version number now!
- Start committing last-minute fixes in preparing your release
- When done, run:

     git flow release finish '1.0'{% endset %}
  {{ code_block(lang='Bash', code=text) }}

  {{ subtitle('Finish release') }}
  <p>After finishing your release preparations run command {{ code('git flow release finish 1.0') }}, as git flow told you . This command is doing some important things:</p>

<ul>
  <li><b>merges {{ code('release/1.0') }} branch to {{ code('master') }} branch</b> - which means all features you made and merged to {{ code('develop') }} branch are now merged to {{ code('master') }} branch.</li>
  <li><b>merges {{ code('release/1.0') }} branch to {{ code('develop') }} branch</b> - which means all changes you made on {{ code('release') }} branch are merged to {{ code('develop') }} branch.</li>
<li>creates tag for this version of code</li>
<li>it also checks out {{ code('master') }} branch and removes release branch</li>
</ul>

{% set text %}20:29 > git flow release finish 1.0
Switched to branch 'master'
Merge made by the 'recursive' strategy.
 awesomeFile | 0
 1 file changed, 0 insertions(+), 0 deletions(-)
 create mode 100644 awesomeFile
Deleted branch release/1.0 (was 0c428a2).

Summary of actions:
- Latest objects have been fetched from 'origin'
- Release branch has been merged into 'master'
- The release was tagged '1.0'
- Release branch has been back-merged into 'develop'
- Release branch 'release/1.0' has been deleted{% endset %}
  {{ code_block(lang='Bash', code=text) }}

  {{ subtitle('Fire on board - hotfix') }}
<p>Your app is released but something doesn't work good? {{ code('Hotfix') }} branch for the rescue. You can create hotfix branch with command {{ code('git flow hotfix start terribleBugFix') }}. This command will create branch {{ code('hotfix/terribleBugFix') }} branched off of {{ code('master') }} branch.</p> <p>Now you can fix your bugs. Don't forget about changing your version.</p>

{% set text %}
<p>Even if you are on {{ code('feature/notSoAwesomeFeature') }} branch and you run this command it will create {{ code('hotfix/terribleBugFix') }} out of {{ code('master') }}. Changes made on {{ code('feature/notSoAwesomeFeature') }} and changes made on {{ code('develop') }} would not be present on {{ code('hotfix/terribleBugFix') }} branch.</p>
{% endset %}
{{ note(text) }}

{% set text %}20:50 > git flow hotfix start terribleBugFix
Switched to a new branch 'hotfix/terribleBugFix'

Summary of actions:
- A new branch 'hotfix/terribleBugFix' was created, based on 'master'
- You are now on branch 'hotfix/terribleBugFix'

Follow-up actions:
- Bump the version number now!
- Start committing your hot fixes
- When done, run:

     git flow hotfix finish 'terribleBugFix'{% endset %}
{{ code_block(lang='Bash', code=text) }}

  {{ subtitle('Finishing hotfix') }}
<p>Finished with fixing bugs? Just run {{ code('git flow finish hotfix terribleBugFix') }}. This command:</p>

<ul>
<li><b>merges {{ code('hotfix/terribleBugFix') }} branch to {{ code('master') }} branch</b> - which means all fixes you made  are now merged to {{ code('master') }} branch.</li>
<li><b>merges {{ code('hotfix/terribleBugFix') }}  branch to {{ code('develop') }} branch</b> - which means all fixes you made are also merged to {{ code('develop') }} branch.</li>
<li>creates tag for this version of code</li>
<li>it also checks out {{ code('develop') }} branch and removes hotfix branch</li>
</ul>

{% set text %}21:01 > git flow hotfix finish terribleBugFix
Switched to branch 'develop'
Already up-to-date!
Merge made by the 'recursive' strategy.
Deleted branch hotfix/terribleBugFix (was e0fc4e4).

Summary of actions:
- Latest objects have been fetched from 'origin'
- Hotfix branch has been merged into 'master'
- The hotfix was tagged 'terribleBugFix'
- Hotfix branch has been back-merged into 'develop'
- Hotfix branch 'hotfix/terribleBugFix' has been deleted{% endset %}
{{ code_block(lang='Bash', code=text) }}


  {{ subtitle('More?') }}
  <p>If you initialised repository with git flow but decided to not to use it anymore just stop using git flow commands. As I mentioned before it is just a wrapper around git.</p>
  <p>If you have an existing repository and want to use git flow just run {{ code('git flow init') }}. It will create all needed branches that are not present in your repository.</p>
  <p>Those branch names {{ code('feature/awesomeFeature') }} are too long for you? When we first initialised our repository git flow asked about prefixes. Default is {{ code('feature/') }} however you can use whatever fits you.</p>

{% set text %}21:40 > git flow feature start awesomeFeature
Switched to a new branch 'f/awesomeFeature'

Summary of actions:
- A new branch 'f/awesomeFeature' was created, based on 'develop'
- You are now on branch 'f/awesomeFeature'

Now, start committing on your feature. When done, use:

     git flow feature finish awesomeFeature{% endset %}
{{ code_block(lang='Bash', code=text) }}

  {{ subtitle('Finally') }}
<p>Git flow is really helpful branching strategy when you working in teams on project. I use it even on my personal project to keep things in order. I hope this post will help you with using git flow.</p>
<p>To find out more about gitflow visit author site: <a href="http://nvie.com/posts/a-successful-git-branching-model/">nvie.com</a></p>


{% endblock %}
