{% extends "_layouts/default.html" %}
{% import "_components/blog_post_card.html" as card %}

{% block extra_css %}
  <style>
    .section {
      min-height: 80vh;
    }
  </style>
  {{ card.css()}}
{% endblock extra_css %}

{% block body %}
	<section class="section">
    <div class="container is-max-desktop">
      <div class="columns is-multiline is-variable is-5-desktop is-8-widescreen">
        {% for post in data.blog_posts %}
          <div class="column is-half-desktop">
            {{ card.html(post) }}
          </div>
        {% endfor %}
      </div>
    </div>
	</section>
{% endblock %}
