{% import "_components/navbar.html" as navbar %}
{% import "_components/footer.html" as footer %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" type="image/png" href="/static/favicon.png">
  <link rel="stylesheet" href="/static/base.min.css">

  {% block init %}{% endblock %}

  {{ navbar.js() }}

  {% block extra_css %}{% endblock %}
  {% block extra_js %}{% endblock %}
</head>
<body>
  {{ navbar.html() }}
  {% block body %}{% endblock %}
  {{ footer.html() }}
</body>
</html>
