<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/base.min.css">

  {% block extra_css %}{% endblock %}
  {% block extra_js %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
</body>
</html>
