{% extends "_layouts/default.html" %}
{% from "_macros/blog.html" import image, code, code_block, note, title, subtitle %}


{% block extra_css %}
  <style>
    .text > ul, .text > ul li {
        list-style-type: initial;
    }

    p, figure, .code {
      margin-top: 0.75em;
      margin-bottom: 0.75em;
    }

    .note {
      margin-top: 1.25em;
      margin-bottom: 1.25em;
    }

    .subtitle {
      padding-top: 2em;
    }

    div.blogpost > img {
        max-width: 50em;
    }

    ul {
      margin-left: 1em;
    }

    div.title-block {
        margin-bottom: 5em;
    }

    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .blog-post {
        margin: 0 auto;
        max-width: 50em;
    }

    code.small {
        border: 1px solid;
        background: #f5f7f9;
        border-radius: 4px;
        padding: 1px 3px;
        color: #59569E;
    }
  </style>
{% endblock extra_css %}

{% block body %}
  <section class="section">
    <div class="blog-post">
      {% block content %} {% endblock content %}
    </div>
  </section>
{% endblock %}
