{% extends "_layouts/post.html" %}


{% block content %}
  {{
    title(
      title='TestFairy - to compile or not to compile?',
      author='Natalia',
      date='2016-09-03'
     )
  }}

  <p>TestFairy is an awesome tool for testing android applications. It’s free. You can see logs and even screenshots from sessions. And there is much more but it’s not a topic for today. You can easily find those information online.</p>

  <p>TestFairy is also easy to use. You add compile line to your app level {{ code('build.gradle') }} and then in {{ code('onCreate') }} you add one line {{ code('TestFairy.begin(context, “API_KEY”);') }} and voila - you can build your project and watch your session on TestFairy console.</p>

{{ subtitle(title='The problem') }}
<p>After a while, when all your bugs are fixed, you would like to upload your awesome app to PlayStore. When I wanted to upload my app I wasn't sure if TestFairy should be compiled in release version. I tried to Google that but I didn’t find any answer or even similar question. Maybe this is so obvious that no one ever had any doubts. </p>

{{ subtitle(title='Decision') }}
<p>I had doubts and I had to figure it out. Thinking it through i decided to upload my app to PlayStore without TestFairy SDK compiled in. Below I present reasons for that decision:</p>

<ul>
<li><b>apk size</b> - every library you compile into your project increases size of your application .apk. I believe we should always keep our .apk size as small as possible.</li>
<li><b>permissions</b> - libraries, you compile can add more permissions to your app, ex. your app doesn’t need any internet permissions but TestFairy does and this permission is added to your app. The less permissions you have, the better.</li>
<li><b>bandwidth</b> - TestFairy sends via Internet screenshots and data which increases bandwidth usage</li>
<li><b>battery</b> - sending data via Internet has also impact on battery life</li>
</ul>

{{ subtitle(title='How to?') }}
<p>'OK! What now? Should I just remove those not needed lines of code before upload to play store?’ It would definitely work, but if You want still develop your app and test using TestFairy, you’ll need to add those lines again. The same scenario would be repeated with every single release.</p>

<p>Much better option would be to automate this process. It is how I did this:</p>

<p>First in app level {{ code('debug.gradle') }} i changed {{ code('compile') }} TestFairySDK to {{ code('debugCompile') }} TestFairySDK.</p>

{% set text %}dependencies {
    compile fileTree(dir: 'libs', include: ['*.jar'])
    testCompile 'junit:junit:4.12'
    ...
    ...
    debugCompile 'testfairy:testfairy-android-sdk:1.+@aar'
}{% endset %}
  {{ code_block(code=text, lang='Groovy', path='app/build.gradle') }}

<p>After that change if you {{ code('import') }} TestFairy in your activity it would work only for your debug builds. I think there are a few ways to solve this problem. I decided to create some kind
  of helper class ex.: {{ code('TestFairyHelper') }}. This class should be different for {{ code('debug') }} build types and {{ code('release') }} build types. To make it happen under {{ code('src')
  }} directory I created two directories called {{ code('debug') }} and {{ code('release') }} both with own {{ code('TestFairyHelper') }} class.</p>

{{ image('static/screen-shot-2016-09-11-at-20.24.07.png')  }}

{% set text %}public class TestFairyHelper {

    public static void begin(Context context) {
        TestFairy.begin(context, "MY_ID");
    }
}

//src/release/TestFairyHelper.java
public class TestFairyHelper {

    public static void begin(Context context) {
    }
}{% endset %}
  {{ code_block(code=text, lang='Java', path='src/debug/TestFairyHelper.java') }}

<p>As You can see both of {{ code('TestFairyHelper') }} classes have same static method but only in debug build type TestFairy is imported and called.</p>
  <p>Now in my activity I replaced {{ code('TestFairy.begin(...)') }} with my own {{ code('TestFairyHelper.begin(...)') }}.

{% set text %}@Override
protected void onCreate(Bundle savedInstanceState) {
    super.onCreate(savedInstanceState);
    setContentView(R.layout.activity_main);

    TestFairyHelper.begin(this);
}{% endset %}
  {{ code_block(code=text, lang='Java', path='main/MainActivity.java') }}

  <p>And that's it.</p>
<p>You can find code on <a href="https://github.com/nani92/napcode.blog.TestFairy-ToCompileOrNotToCompile">github</a>.</p><p>
</p><p>What are your thoughts on TestFairy SDK in release version of app? Do You prefer any other solutions?</p>
{% endblock %}
