{% macro html(post) -%}
  <div class="card blog-post-card has-background-light">
    <div class="card-content">
      <div class="content">
        <h1 class="title is-4"> {{ post.title }} </h1>
        <hr class="blog-post-card--separator">
        <p> {{ post.description }} </p>
        <p class="has-text-grey-light has-text-centered">
          written by {{ post.author }} on {{ post.date }}
        </p>
      </div>
    </div>
    <footer class="card-footer">
      <a href="{{ post.url }}" class="card-footer-item">Read more</a>
    </footer>
  </div>
{%- endmacro %}

{% macro css() -%}
  <style>
    .blog-post-card--separator {
      border: 0;
      height: 1px;
      background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    }
    .blog-post-card {
      border: 1px solid gray;
      border-radius: 20px;
    }
  </style>
{%- endmacro %}
