{% import "_components/pixel.html" as pixel %}

{% macro html() -%}
  <footer class="footer has-background-danger-light">
    <div class="content has-text-centered">
      <p> &copy; Copyright 2022 by Natalia & Paweł Jastrzębscy. </p>
    </div>
    {{ pixel.html() }}
  </footer>
{%- endmacro %}