{% macro html() -%}
  <nav
    class="navbar is-primary"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="container is-max-desktop">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/static/napcode.svg" width="112" height="28">
        </a>

        <a
          role="button"
          id="menuButton"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div
        id="menu"
        class="navbar-menu"
        class="navbar-menu"
      >
        <div class="navbar-start">
          <a class="navbar-item" href="/blog/">
            Blog
          </a>
        </div>
      </div>
    </div>
  </nav>
{%- endmacro %}
{% macro js() -%}
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      const menu = document.getElementById('menu')
      const menuButton = document.getElementById('menuButton')
      menuButton.onclick = (event) => {
        menu.classList.toggle('is-active')
        menuButton.classList.toggle('is-active')
      }
    })
  </script>
{%- endmacro %}
