{% macro image(src='', class='') -%}
  <figure class="image {{ class }}">
    <img src="{{ src }}">
  </figure>
{%- endmacro %}

{% macro code(code='') -%}
  <code class="small">{{ code  }}</code>
{%- endmacro %}

{% macro code_block(code='', lang='', path='' ) -%}
  <pre><div class="has-text-grey-light"><span >{{ path }}</span><span class="is-pulled-right">{{ lang }}</span></div>
<code class="language-{{ lang }}">{{ code }}</code></pre>
{%- endmacro %}

{% macro note(content='') -%}
  <div class="note box has-background-info-light">
    {{ content }}
  </div>
{%- endmacro %}

{% macro title(title='', author='', date='') -%}
	<div class="title-block">
    <h1 class="title is-1">{{ title }}</h1>
    <p class="has-text-grey-light">
      written by {{ author }} on {{ date }}
    </p>
	</div>
{%- endmacro %}

{% macro subtitle(title='') -%}
  <h2 class="subtitle is-3">{{ title }}</h2>
{%- endmacro %}
