{% extends "_layouts/default.html" %}

{% block body %}
  <section id="404" class="hero is-fullheight is-info is-flex is-flex-direction-column is-justify-content-center">
    <span class="is-flex is-justify-content-center" style="font-size: 300px;" > 404 </span>
  </section>
{% endblock %}
