{% extends "_layouts/default.html" %}

{% block extra_css %}
  <style>
    .hero {
      min-height: 80vh;
    }
    .hero-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  </style>
{% endblock extra_css %}

{% block body %}
  <section class="hero">
    <div class="hero-body container is-max-desktop">
      <p class="title is-1"> Welcome to  NapCode </p>
      <p>
        We are Natalia and Paweł - married couple of programmers living in Poland. In our spare time we develop together applications and games for Android and Web. Among our projects you can find useful tools as well as educational games for children. Those games are mostly created for our most precious treasure - our kids Amelia and Michaś. Amelia is the one who inspired Paweł to write first game for toddlers - dots.
      </p>
      <p class="is-size-5 is-6 mt-6 mb-2"> Why NapCode? </p>
      <p>
        Well... we believe that naps are very important for our productivity. However this Nap simply states for "Natalia and Paweł".
      </p>
    </div>
  </section>
{% endblock %}
